{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions and 'jinja2.ext.i18n' not in JINJA_EXTENSIONS %}
  {% macro _(msg) %}
    {{ msg % kwargs }}
  {% endmacro %}
{% endif %}

<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page in hidden_pages %}
    <meta name="robots" content="noindex, nofollow" />
  {% else %}
    <meta name="robots" content="{{ ROBOTS }}" />
  {% endif %}

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

  <!-- FontAwesome JS-->
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Page specific CSS -->
  {% block page_specific_css %}{% endblock %}

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/base_theme.css">
  <link id="theme-style" rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom_theme.css">

  {% if CUSTOM_CSS %}
  <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
  {% endif %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}

  {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
  {% endif %}

  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Microsoft EDGE -->
    <meta name="msapplication-TileColor" content="{{ BROWSER_COLOR }}">
  {% endif %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
  {% endblock %}

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.page_level_ads %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "{{ GOOGLE_ADSENSE.ca_id }}",
      enable_page_level_ads: true
    });
  </script>
  {% endif %}

  {% if GOOGLE_TAG_MANAGER %}
    {% include "partial/gtm.html" %}
  {% endif %}

  {% endblock head %}
</head>

<body id="index" class="home">

  <!-- Header -->
	<header class="header">
    <div class="top-bar theme-bg-primary-darken">

    <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark position-relative">

      <a class="navbar-brand" href="{{ SITEURL }}"><img id="logo" src="{{ SITEURL }}{{ SITELOGO }}"/></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navigation">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item {% if page and page.template == 'about' %} active {% endif %} mr-lg-3">
              <a class="nav-link" href="index.html">About</a>
          </li>
          <!--<li class="nav-item {% if page and page.template == 'projects' %} active {% endif %} mr-lg-3">
              <a class="nav-link" href="projects.html">Projects</a>
          </li>-->
          <li class="nav-item {% if not page %} active {% endif %} mr-lg-3">
              <a class="nav-link" href="blog.html">Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if page and page.template == 'resume' %} active {% endif %} mr-lg-3">
              <a class="nav-link" href="resume.html">Resume</a>
          </li>
          <li class="nav-item {% if page and page.template == 'contact' %} active {% endif %} mr-lg-3">
              <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <span id="slide-line"></span>

      </div>
    </nav>

    </div><!--//container-->

    </div><!--//top-bar-->

    {% block header_intro  %}{% endblock %}

  </header><!--//header-->

  {% block content %}
  {% endblock %}

  <!--//add jquery social share bar (configure your channels in js)-->
  <div id="share-bar"></div>

  <footer class="footer text-light text-center">
    <div class="container">
      <small class="text-muted">Proudly powered by <a href="http://getpelican.com/">Pelican</a>. Inspired by a theme from <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
    </div>
  </footer>

  <!-- JS plugins -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Theme JS -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>

  <!-- page specific JS plugins -->
  {% block page_specific_js %}{% endblock %}

</body>
</html>
