{% extends "base.html" %}

{% block header_intro %}
    <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
      <div class="container position-relative">
        <h2 class="page-heading mb-3">Blog</h2>
      </div><!--//container-->
    </div><!--//header-intro-->
{% endblock %}

{% block content %}

    <section class="section pt-5">
      <div class="container blog-cards">

        <div class="row">

            {% for article in articles_page.object_list %}

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card rounded-0 border-0 shadow-sm eq-height">
                    <div class="card-img-container position-relative">
                            <img class="card-img-top rounded-0" src="assets/images/blog/blog-post-thumb-10.jpg" alt="">
                            <div class="card-img-overlay overlay-mask  text-center p-0">
                            <div class="overlay-mask-content text-center w-100 position-absolute">
                            <a class="btn btn-primary" href="blog-post.html">Read more</a>
                            </div>
                            <a class="overlay-mask-link position-absolute w-100 h-100" href="blog-post.html"></a>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h4 class="card-title mb-2"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h4>
                        <div class="card-text">
                            <div class="excerpt"> {{ article.summary }}</div>
                        </div>
                    </div>
                    <div class="card-footer border-0">
                        <ul class="meta list-inline mb-0">
                            <li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ article.locale_date }}</li>
                        </ul>
                    </div>
                </div><!--//card-->
            </div>

            {% endfor %}

    </div>

    </div><!--//container-->
</section><!--//section-->
{% endblock content %}
