{% extends "base.html" %}

<!-- Page specific CSS -->
{% block page_specific_css %}

{% endblock %}

{% block meta %}
<meta name="description" content="Projects" />

{% endblock %}

{% block title %}My Projects{% endblock %}

{% block header_intro %}

  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <h2 class="page-heading mb-3">My Projects</h2>
      <div class="page-heading-tagline">In-depth Case Studies to show you what I can offer and how I work.</div>
    </div><!--//container-->
  </div><!--//header-intro-->

{% endblock %}

{% block content %}
    <section class="section pt-5">
        <div class="container">
	        <div class="text-center">
		        <ul id="filters" class="filters mb-5 mx-auto pl-0">
	                <li class="type active" data-filter="*">All</li>
	                <li class="type" data-filter=".web">Web</li>
	                <li class="type" data-filter=".data">Data Science</li>
	                <li class="type" data-filter=".machine-learning">Machine Learning</li>
                  <li class="type" data-filter=".energy">Energy Sciences</li>
	            </ul><!--//filters-->
	        </div>

	        <div class="project-cards row mb-5 isotope">
		        <div class="isotope-item col-12 col-lg-4 web data machine-learning">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/iotorq-saas-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="projects\iotorq.html">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">ioTORQ is a data platform for industrial energy management!</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="projects\iotorq.html">ioTORQ SaaS</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Python/Django</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">VueJS</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MS Azure</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div><!--//isotope-item-->

				<div class="isotope-item col-12 col-lg-4 data web">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/iotorq-etl-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="projects/iotorq-exporter.html">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">ETL software to stream data out of industrial facilities</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="projects/iotorq-exporter.html">ioTORQ Data Exporter</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Python</span></li>
										<li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Desktop</span></li>
										<li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Qt</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div><!--//isotope-item-->

				<div class="isotope-item col-12 col-lg-4 web data energy">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/orc-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="projects\orc-world-map.html">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">The first complete database of ORC projects giving an overview of the market</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="projects\orc-world-map.html">ORC World Map</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">jQuery</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Python</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Google Map API</span></li>
							</ul>
						</div>
				  </div><!--//card-->
		    </div><!--//isotope-item-->

				<div class="isotope-item col-12 col-lg-4 machine-learning">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/dogbreed-thumb.png" alt="">

							<a class="card-img-overlay overlay-content text-left p-lg-4" href="/projects/breed-detector.html">
								<h5 class="card-title font-weight-bold">Transfer Learning</h5>
							    <p class="card-text">Using Transfer Learning to classify dog breeds in images</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="/projects/breed-detector.html">Dog Breed Detector</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Python</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Keras</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Flask</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Transfer Learning</span></li>
							</ul>
						</div>
					</div><!--//card-->
				</div><!--//isotope-item-->

				<div class="isotope-item col-12 col-lg-4  machine-learning">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/cloning-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="/projects/behavioral-cloning.html">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">Train a neural network to drive a car in a simulator!</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="/projects/behavioral-cloning.html">Self-Driving Car: Behavioural Cloning</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Deep Learning</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Keras</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
					</div><!--//isotope-item-->

				<div class="isotope-item col-12 col-lg-4 machine-learning">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/lanes-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="#">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="#">Self-Driving Car: Lane Finding</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Deep Learning</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Keras</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">OpenCV</span></li>
							</ul>
						</div>
					</div><!--//card-->
				</div><!--//isotope-item-->

				<div class="isotope-item col-12 col-lg-4 machine-learning">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/vehicle-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="/projects/vehicle-detection.html">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">Build a vehicle detection system for self driving cars </p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="/projects/vehicle-detection.html">Vehicle Detection</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Python</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Keras</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">OpenCV</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div><!--//isotope-item-->

		        <div class="isotope-item col-12 col-lg-4 data">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/sanfrancisco-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="#">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="#">San Francisco Incidents</a></h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Python</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Pandas</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Matplotlib</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div><!--//isotope-item-->

          <div class="isotope-item col-12 col-lg-4 energy">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/seleco2-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="/projects/seleco2.html">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="/projects/seleco2.html">SeleCO2</a></h4>
						</div>
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Python</span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">C++</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div><!--//isotope-item-->

          <div class="isotope-item col-12 col-lg-4 web">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="images/projects/peakalert-thumb.png" alt="">
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="#">
								<h5 class="card-title font-weight-bold"></h5>
							    <p class="card-text">Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="#">Peak Alert</a></h4>
						</div>
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
                <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Python</span></li>
                <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Twilio</span></li>
                <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Azure Function</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div><!--//isotope-item-->

	        </div><!--//row-->

        </div><!--//container-->
    </section><!--//section-->

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

{% endblock %}

{% block page_specific_js %}

  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/isotope.pkgd.min.js"></script>

  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/isotope-custom.js"></script>

{% endblock %}