{% extends "base.html" %}

<!-- Page specific CSS -->
{% block page_specific_css %}
  <link id="theme-style" rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/resume.css">
{% endblock %}

{% block meta %}
<meta name="description" content="Resume" />

{% endblock %}

{% block title %}My Resume{% endblock %}

{% block header_intro %}

  <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <h2 class="page-heading mb-3">Resume</h2>
      <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto" href="docs/resume_tartieret.pdf" target="_blank"><i class="fas fa-download mr-2"></i>Download PDF Version</a>
    </div><!--//container-->
  </div><!--//header-intro-->

{% endblock %}

{% block content %}
  <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
				    <img class="mr-3 img-fluid picture mx-auto" src="{{ AUTHOR_PROFILE_IMAGE }}" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Thomas Tartière</h1>
						    <div class="title mb-3">Full Stack Developer & Energy Engineer</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>thomas.tartiere@gmail.com</a></li>
							    <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+1 604 349 8750</a></li>
						    </ul>
					    </div><!--//primary-info-->
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
                  <li class="mb-3"><a href="https://www.linkedin.com/in/thomastartiere/"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/thomastartiere</a></li>
                  <li class="mb-3"><a href="https://github.com/tartieret"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/tartieret</a></li>
                  <li><a href="https://thomastartiere.com"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>thomastartiere.com</a></li>
						    </ul>
					    </div><!--//secondary-info-->
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Summary</h2>
				    <div class="resume-section-content">

              <ul>
                <li>Entrepreneur mindset, used to challenging and fast-paced environment.</li>
                <li>Strong interpersonal skills as demonstrated through leading and collaborating in multidisciplinary teams.</li>
                <li>Strong analytical skills with outstanding background in energy sciences and software development.</li>
                <li>Results and impact driven project manager with proven success in completing projects on time.</li>
                <li>Multilingual: fluent in English, French and Spanish. Basic Russian and German.</li>
              </ul>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-8">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Lead Developer</h3>
										        <div class="resume-company-name ml-auto"><a href="http://www.panevo.com/">Panevo</a></div>
										    </div><!--//row-->
										    <div class="resume-position-time">Jan 2017 - Present</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Manage all aspects of the development of a new data platform for industrial energy management, from planning to implementation, operation, maintenance and customer support.</p>
										    <ul>
											    <li>Built a <a href="/projects/iotorq.html">data platform to collect, visualize and analyze real-time energy data</a> from large industrial corporations.</li>
											    <li>Conceived an <a href="/projects/iotorq-exporter.html">ETL software</a> to stream data out of industrial facilities</li>
						  						<li>Designed a utility bill management system to detect anomalies in tens of thousands of electric, gas, water & telecom bills</li>
											    <li>Implemented machine learning models to improve asset performance</li>
                          						<li>Coordinated the implementation and commissioning of full-scale energy management information systems in large industrial facilities.</li>
										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Python</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Django</span></li>
						  <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Flask</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MS Azure</span></li>
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">VueJS</span></li>
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML/CSS/SASS</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MS SQL Server</span></li>
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">PostgresSQL</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Redis</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">RabbitMQ</span></li>
						  <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Kafka</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">IoT</span></li>
						  <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MQTT</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Apache NIFI</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">R&D Engineer</h3>
										        <div class="resume-company-name ml-auto"><a href="https://www.enertime.com/en/">Enertime</a></div>
										    </div><!--//row-->
										    <div class="resume-position-time">Jan 2012 - Dec 2017</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
                        <p>In a clean energy startup, led the development of innovative energy technologies:</p>
                        <ul>
											    <li>Coordinated multi-disciplinary teams in multi-million dollars R&D projects</li>
											    <li>Developed software tools for design and optimization of energy systems</li>
                          <li>Project leader for the development of a  <a href="/projects/seleco2.html">multi-megawatt Thermo-Electric Energy Storage system</a></li>
                          <li>Supervized the development of a marine Organic Rankine Cycle for waste heat recovery aboard large vessels.</li>
                          <li>Carried out engineering studies for various industries, including military vessels, biomass and geothermal power plants, steel, cement & lime, Diesel power plants.</li>
											    <li>Advised the executive team on technical strategy. Represented the company at international conferences and led business development in North America.</li>
                          <li>Published 8 conference & journal articles and 1 patent.</li>
										    </ul>

                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">EES</span></li>
											    <li class="list-inline-item"><span class="badge badge-secondary badge-pill">C++</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Ansys CFX</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Matlab</span></li>
                          <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Excel</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

                    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Guest Lecturer</h3>
										        <div class="resume-company-name ml-auto"><a href="http://www.centralesupelec.fr/en">Ecole Centrale Paris</a></div>
										    </div><!--//row-->
										    <div class="resume-position-time">Sept 2013 - Jun 2014</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Lectured engineering students on biomass, geothermal energy and industrial energy efficiency.</p>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

							    </div><!--//resume-timeline-->

						    </div>
					    </section><!--//experience-section-->
				    </div>
				    <div class="col-lg-4">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                      <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-light">VueJS</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Javascript</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">HTML</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">CSS</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">SASS</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Webpack</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Bootstrap</span></li>
						<li class="list-inline-item"><span class="badge badge-light">Quasar</span></li>
                      </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
                      <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                      <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-light">Django</span></li>
						<li class="list-inline-item"><span class="badge badge-light">Flask</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Python</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Microsoft Azure</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">PostgreSQL</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Microsoft SQL Server</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">Redis</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">RabbitMQ</span></li>
						<li class="list-inline-item"><span class="badge badge-light">Kafka</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">REST API</span></li>
                        <li class="list-inline-item"><span class="badge badge-light">NIFI</span></li>
                      </ul>
						        </div><!--//resume-skill-item-->

                    <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Data Science & Machine Learning</h4>
						            <ul class="list-inline">
                          <li class="list-inline-item"><span class="badge badge-light">Machine Learning</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Time-serie Analysis</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Image processing</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Deep learning</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Keras</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Tensor Flow</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Scikit-learn</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Pandas</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Numpy</span></li>
                        </ul>
						        </div><!--//resume-skill-item-->

                    <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Energy Sciences</h4>
						            <ul class="list-inline">
                          <li class="list-inline-item"><span class="badge badge-light">Thermodynamics</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Fluid Dynamics</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Heat Transfer</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Energy modeling</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">CFD</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Turbomachinery</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Heat Pump</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">ORC</span></li>
                        </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Others</h4>
						            <ul class="list-inline">
                          <li class="list-inline-item"><span class="badge badge-light">Project Management</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Product Development</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
										<li class="list-inline-item"><span class="badge badge-light">Asana</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">C/C++</span></li>
                          <li class="list-inline-item"><span class="badge badge-light">Pascal/Delphi</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
                    				<li class="mb-2">
								        <div class="resume-degree font-weight-bold">Artificial Intelligence Nanodegree</div>
								        <div class="resume-degree-org">Udacity (Online)</div>
								        <div class="resume-degree-time">2017 - 2018</div>
								    </li>
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">MSc in Mechanical Engineering</div>
								        <div class="resume-degree-org">Stanford University, USA</div>
                        				<div class="resume-degree-desc">Energy Systems, Computational Fluid Mech.</div>
								        <div class="resume-degree-time">2010 - 2011</div>
								    </li>
								    <li>
								        <div class="resume-degree font-weight-bold">MSc in General Engineering</div>
								        <div class="resume-degree-org">Ecole Centrale Paris, France</div>
								        <div class="resume-degree-time">2008 - 2010</div>
								    </li>
                    				<li>
								        <div class="resume-degree font-weight-bold">Preparatory classes in Sciences</div>
								        <div class="resume-degree-org">Lycée Clemenceau, France.</div>
                        				<div class="resume-degree-desc">Intensive preparation for top engineering schools</div>
								        <div class="resume-degree-time">2006 - 2008</div>
								    </li>
							    </ul>
						    </div>
					    </section><!--//education-section-->

						<section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Certifications</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								<li class="mb-2">
								        <div class="resume-degree font-weight-bold">Professional Engineer (P.Eng.)</div>
										<div class="resume-degree-org">Engineers and Geoscientists BC</div>
								        <div class="resume-degree-time">2019</div>
								    </li>
                    				<li class="mb-2">
								        <div class="resume-degree font-weight-bold">Project Management Professional</div>
										<div class="resume-degree-org">Project Management Institute</div>
								        <div class="resume-degree-time">2016</div>
								    </li>
							    </ul>
						    </div>
					    </section><!--//education-section-->

				    </div>
			    </div><!--//row-->
            	<div class="row">
					<div class="col-lg-8">
                		<section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Rotary Ambassadorial Scholarship</div>
								        <div class="resume-award-desc">2011</div>
								    </li>
                    				<li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">French Academy Scholarship</div>
								        <div class="resume-award-desc">2011</div>
								    </li>
								    <li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Best project at Ecole Centrale Paris</div>
								        <div class="resume-award-desc">Design of a trapped vortex combustor, 2010</div>
								    </li>
                    				<li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">National Programming Competition: Finalist</div>
								        <div class="resume-award-desc">Prologin, France - 2005</div>
								    </li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->
              			<section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Triathlon, Rowing, Soccer</li>
								    <li class="mb-1">Cooking, Traveling</li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->
            </div>
            <div class="col-lg-4">
              <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Fluent)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Spanish</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Russian</span> <small class="text-muted font-weight-normal">(Basic)</small></li>
                    <li class="mb-2"><span class="resume-lang-name font-weight-bold">German</span> <small class="text-muted font-weight-normal">(Basic)</small></li>
							    </ul>
						    </div>
					    </section><!--//language-section-->
            </div>
          </div><!--//row-->
		    </div><!--//resume-body-->
	    </div>
    </article>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

{% endblock %}

{% block page_specific_js %}

{% endblock %}