/* Site logo */

.navbar-brand #logo {
  width: 45px;
  height: 45px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Footer */

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
}

/* Project description */

h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-wrapper p {
  margin-bottom: 1rem;
  text-align: justify;
}